<h1><%= @item.name %></h1>

<%= link_to "Back", "/" %>


<%= image_tag @item.image %>

<p>Product: <%= @item.item_type.name %></p>
<p>Price: <%= @item.price %></p>
<p>Stock: <%= @item.stock %></p>
<p>Rarity: <%= @item.rarity.name %></p>
<p><%= button_to 'add to cart', add_to_cart_path(@item.id), data: { turbo_method: "post" } %></p>
