<% @cart.cart_items.each do |item_in_cart| %>
    <% item = item_in_cart.item %>
    <div id="<%= "cart-#{item.id}" %>">
    <p>Product: <%= item.item_type.name %></p>
    <p>Price: <%= item.price %></p>
    <p>Stock: <%= item.stock %></p>
    <p>Rarity: <%= item.rarity.name %></p>
    <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: item.id %>
        <%= f.number_field :quantity, value: item_in_cart.quantity, min: 1, max: item.stock %>
        <%= f.submit "Add to cart" %>
    <% end %>
    <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: item_in_cart.id %>
        <%= f.submit "X" %>
    <% end %>
    <%= item_in_cart.total %>
    </div>
<% end %>