<%= turbo_frame_tag "cart" do %>
    <div class="container">
        <div class="pagetitle">
            <h1 class="display-3">Cart</h1>
        </div>
        <% if @cart.cart_items.count > 0 %>
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12 productdetails">
                        <div class="row">
                            <div class="col-sm-10">
                            <% if member_signed_in? %>
                            These are the rate taxes for your Province: <%= current_member.province.shortname %>, <%= current_member.username %>
                                  <% if current_member.province.GST > 0 %>
                                      <p>GST: <%=current_member.province.GST %></p>
                                  <% end %>
                                  <% if current_member.province.PST > 0 %>
                                      <p>PST: <%=current_member.province.PST %></p>
                                  <% end %>
                                  <% if current_member.province.HST > 0 %>
                                    <p>HST: <%=current_member.province.HST %></p>
                                  <% end %>
                          <% end %>
                            <%= render "cart/cart_item" %>
                            <p style="padding-top:5%;">Cart Total: <%= @cart.total %></p>
                            <p>Cart Total after taxes: <%= @cart.total_after_taxes %></p>
                            <%= link_to "Checkout", order_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12 productdetails">
                        <div class="row">
                            <div class="col-sm-10">
                                <p>Cart is empty</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
