<div class="container">
    <div class="pagetitle">
        <h1 class="display-3"><%= @item_type.name %></h1>
        <%= link_to "Back", item_types_path, style:"color:white" %>
    </div>

    <% @item_type.items.each do |item| %>
    <div class="container text-center products-wrap">
        <div class="row products-content">
            <div class="col-sm-3 productdetails">
                <div class="row">
                    <div class="col-sm-2">
                        <%= link_to item.name, item %>
                        <p>Price: <%= item.price %></p>
                        <p>Stock: <%= item.stock %></p>
                    </div>
                </div>
            </div>
        <div class="col-sm-9">
            <%= image_tag item.image %>
        </div>
    </div> 
<% end %>

