<div class="container">
    <div class="pagetitle">
        <h1 class="display-3"><%= @item_type.name %></h1>
        <%= link_to "Back", "/", style:"color:white" %>
    </div>

    <% @item_type.items.each do |item| %>
    <div class="container text-center products-wrap">
        <div class="row products-content">
            <div class="col-sm-3 productdetails">
                <div class="row">
                    <div class="col-sm-2">
                        <p><%= item.name %></p>
                        <p>Price: <%= item.price %></p>
                        <p>Stock: <%= item.stock %></p>
                        <% if member_signed_in? %>
                            <p>Add products to your shopping cart, <%= current_member.username %></p>
                            <%= form_with(url: cart_add_path) do |f| %>
                                <%= f.hidden_field :id, value: item.id %>
                                <%= f.number_field :quantity, value: 0, max:item.stock, min:1, class: 'searchbar' %>
                                <%= f.submit "Add to cart", class:"btn btn-outline-success", style:"margin-top:5px" %>
                           <% end %>
                        <% else %>
                              <p>Sign up if you want to order a product</p>
                        <% end %>
                    </div>
                </div>
            </div>
        <div class="col-sm-9">
            <%= image_tag item.image %>
        </div>
    </div> 
<% end %>

