<header>

    <div class='container'>

        <nav>
            <ul>
                <li><%= link_to "Home", "/" %></li>        
                <li><%= link_to "Categories", item_types_path %></li>
                <% if member_signed_in? %>
                    <li><h1>Welcome Home, <%= current_member.username %></h1>
                    <%= button_to 'Sign out', destroy_member_session_path, method: :delete %></li>
                <% else %>
                    <li><h1>Home</h1>
                    <%= link_to 'Sign in', new_member_session_path %></li>
                <% end %>
                <li><%= link_to 'Cart', cart_path %></li>
            </ul>
        </nav>

    </div>

</header>