        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar">
            <div class="container-fluid">
                <div class="expand navbar-expand">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><%= link_to "Home", "/", class:"nav-link" %></li>        
                        <li class="nav-item"><%= link_to "Categories", item_types_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= link_to 'Cart', cart_path, class:"nav-link" %></li>
                       <p class="navbar-text"> (<%= @cart.cart_items.count %>) </p>
                        <% if member_signed_in? %>
                            <span class="navbar-text" style="margin-right:5px;">Welcome Home, <%= current_member.username %></span>
                            <li class="nav-item"><%= button_to 'Sign out', destroy_member_session_path, method: :delete, class:"btn btn-outline-success" %></li>
                        <% else %>
                        <li class="nav-item"><%= link_to 'Sign in', new_member_session_path, class:"nav-link" %></li>
                        <% end %>
                    </ul>
                </div>
                <%= image_tag("cards_icon.png", class:"imgbar") %>
           </div> 
        </nav>
